[submodule "modules/glm_1.0.2"]
	path = modules/glm_1.0.2
	url = https://github.com/g-truc/glm
[submodule "modules/glfw_3.4"]
	path = modules/glfw_3.4
	url = https://github.com/glfw/glfw
[submodule "modules/vulkan_v1.4.332"]
	path = modules/vulkan_v1.4.332
	url = https://github.com/KhronosGroup/Vulkan-Headers
